.drop_area {
    padding: 1rem;
    width: 100%;
    height: 100px;
    color: #dcdcdc;
    border: 1px dashed #dcdcdc;
    border-radius: 10px;
    margin: 10px 0;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
.hide_drop_area{
    opacity: 0;
}